@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  /* font-family: 'Barlow Condensed', sans-serif; */
  /* text-transform: uppercase; */
  box-sizing: border-box;
  /* border: 1px solid red; */ }

body {
  font-family: 'Barlow Condensed', sans-serif; }

:root {
  --paddingLateral: 8em;
  --padding-top: 100px;
  /*Para que la info no quede debajo de la nav bar */
  --altura-menu-mobile: height: 80px;
  /*BOTONES*/
  --radio-border: 15px; }

.mobile__cabecera-container,
.favoritos__fi,
.favoritos__fd,
.almendras__boton-mobile,
.favoritos-carrusel-mobile,
.mobile__saludables-productos,
.menu-desplegable-mobile,
.mobile-almendras__info,
.mobile-almendras__precio,
.mobile-almendras__caracteristicas {
  display: none; }

.desktop__cabecera {
  display: flex;
  background-color: black;
  height: 48px;
  padding: 48px;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  z-index: 100;
  width: 100%;
  text-transform: uppercase; }
  .desktop__cabecera nav ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0; }
    .desktop__cabecera nav ul li {
      list-style: none;
      padding-left: 40px; }
      .desktop__cabecera nav ul li a:hover {
        background-color: blue; }
  .desktop__cabecera a {
    scale: 0.45;
    text-decoration: none;
    color: white;
    font-size: 25px; }
  .desktop__cabecera form {
    display: flex; }
  .desktop__cabecera .buscar-contenedor {
    padding-left: 100px; }
    .desktop__cabecera .buscar-contenedor .buscar {
      font-size: 21px;
      border-radius: 15px;
      text-align: center;
      font-family: 'Barlow Condensed', sans-serif;
      height: 40.70px; }
  .desktop__cabecera div .carrito {
    padding: 0 125px;
    font-size: 25px; }

#carouselExampleCaptions .carousel-indicators [data-bs-target] {
  width: 50px !important;
  height: 6px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: .9; }
  #carouselExampleCaptions .carousel-indicators [data-bs-target] button:hover {
    opacity: .3; }

#carouselExampleCaptions .carousel-inner .carousel1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../imagenes/index/imagenHero1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*No modificar*/ }
  #carouselExampleCaptions .carousel-inner .carousel1 .texto-principal {
    padding-bottom: 160px;
    padding-top: 0; }
    #carouselExampleCaptions .carousel-inner .carousel1 .texto-principal h5 {
      font-size: 80px;
      margin: 0; }

#carouselExampleCaptions .carousel-inner .carousel2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../imagenes/saludables/frutosSecos.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /*No modificar*/ }
  #carouselExampleCaptions .carousel-inner .carousel2 .texto-principal-saludables {
    padding-bottom: 150px;
    padding-top: 0; }
    #carouselExampleCaptions .carousel-inner .carousel2 .texto-principal-saludables a {
      text-decoration: none;
      color: white; }
    #carouselExampleCaptions .carousel-inner .carousel2 .texto-principal-saludables h5 {
      font-size: 80px;
      margin: 0; }

#carouselExampleCaptions .carousel-control-prev,
#carouselExampleCaptions .carousel-control-next {
  scale: 1.5;
  font-weight: 1000; }

#carouselExampleCaptions .flecha {
  /* Para que la flecha derecha tenga una altura pequeña y pueda usar el menu hamburguesa*/
  height: fit-content;
  margin: auto;
  width: fit-content; }

#carouselExampleCaptions .index-flechaIzquierda {
  margin-left: 50px; }

#carouselExampleCaptions .index-flechaDerecha {
  margin-right: 50px; }

.section__favoritos {
  /*Version desktop*/
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
  height: 35rem;
  text-transform: uppercase; }
  .section__favoritos h2 {
    font-size: 40px;
    padding: 1em 0 1em;
    color: white; }
  .section__favoritos .section__favoritos-imagenes {
    display: flex;
    margin: auto 0;
    padding-bottom: 90px; }
    .section__favoritos .section__favoritos-imagenes div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 0; }
      .section__favoritos .section__favoritos-imagenes div:first-child img {
        /*Para modificar tamaño primera imagen*/
        width: 200px; }
    .section__favoritos .section__favoritos-imagenes a {
      text-decoration: none;
      color: white;
      padding-top: 25px; }
      .section__favoritos .section__favoritos-imagenes a:hover {
        scale: 1.2; }
    .section__favoritos .section__favoritos-imagenes img {
      width: 150px;
      height: 200px; }

.extra__container {
  padding: 32px 8px;
  text-transform: uppercase; }
  .extra__container p {
    color: white; }
  .extra__container .extra__imagenes {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .extra__container .extra__imagenes .extra__izquierda {
      grid-column: 1;
      background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../imagenes/index/catering.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 32rem;
      width: 90%;
      margin: auto;
      padding: 128px 48px 72px;
      color: white; }
      .extra__container .extra__imagenes .extra__izquierda p {
        padding: 32px 0;
        font-size: 16px;
        line-height: 24px; }
      .extra__container .extra__imagenes .extra__izquierda button {
        padding: 16px;
        font-size: 25px;
        margin: auto;
        letter-spacing: 1.6px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        border-radius: var(--radio-border);
        width: fit-content; }
        .extra__container .extra__imagenes .extra__izquierda button:hover {
          background-color: orangered;
          border: orangered; }
    .extra__container .extra__imagenes .extra__derecha {
      grid-column: 2;
      background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../imagenes/index/tienda.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 32rem;
      width: 90%;
      margin: auto;
      padding: 128px 48px 96px 48px;
      color: white; }
      .extra__container .extra__imagenes .extra__derecha p {
        padding: 32px 0;
        font-size: 16px;
        line-height: 24px; }
      .extra__container .extra__imagenes .extra__derecha button {
        padding: 16px;
        font-size: 25px;
        margin: auto;
        letter-spacing: 1.6px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        border-radius: var(--radio-border);
        width: fit-content; }
        .extra__container .extra__imagenes .extra__derecha button:hover {
          background-color: orangered;
          border: orangered; }

.varios__container {
  background-color: black;
  display: flex;
  padding: 96px;
  justify-content: space-around;
  text-transform: uppercase; }
  .varios__container p {
    font-size: 30px;
    color: black;
    text-align: center; }
  .varios__container .varios__hover-imagenes .varios___imagenes {
    text-align: center;
    overflow: hidden;
    /* Para que el zoom se haga dentro del recuadro de la imagen*/ }
    .varios__container .varios__hover-imagenes .varios___imagenes .varios__desktop-item {
      width: 17em;
      height: 19em;
      transition: 0.5s;
      object-fit: cover; }
      .varios__container .varios__hover-imagenes .varios___imagenes .varios__desktop-item:hover {
        transform: scale(1.2); }
  .varios__container .varios__hover-imagenes:hover .varios__hover-texto {
    /* Texto se vuelve blanco cuando paso el mouse por la imagen*/
    color: white; }

.main__container-saludables {
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent), url("../imagenes/saludables/frutosSecos.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  height: 45rem; }
  .main__container-saludables .hero__texto-saludables {
    margin: auto;
    width: 70%;
    line-height: 97px;
    display: flex;
    align-items: center;
    /* height: 100vh; */
    height: 51rem;
    color: white;
    text-align: center; }
    .main__container-saludables .hero__texto-saludables p {
      font-size: 80px;
      margin: 0; }

.saludables__container-productos {
  background-color: #d9d9d9;
  padding: 2em;
  text-transform: uppercase; }
  .saludables__container-productos h1 {
    text-align: center;
    font-size: 40px;
    color: black; }
  .saludables__container-productos a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top: 16px; }
  .saludables__container-productos .productosSaludables-3img {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 64px 0; }
    .saludables__container-productos .productosSaludables-3img .almendras {
      grid-column: 1;
      display: flex;
      flex-direction: column; }
      .saludables__container-productos .productosSaludables-3img .almendras img {
        width: 200px;
        height: 260px; }
        .saludables__container-productos .productosSaludables-3img .almendras img:hover {
          scale: 1.2; }
      .saludables__container-productos .productosSaludables-3img .almendras a {
        display: flex;
        justify-content: center; }
    .saludables__container-productos .productosSaludables-3img .pecanas {
      grid-column: 2; }
      .saludables__container-productos .productosSaludables-3img .pecanas img {
        width: 300px;
        height: 260px; }
        .saludables__container-productos .productosSaludables-3img .pecanas img:hover {
          scale: 1.2; }
      .saludables__container-productos .productosSaludables-3img .pecanas a {
        display: flex;
        justify-content: center; }
    .saludables__container-productos .productosSaludables-3img .nueces {
      grid-column: 3; }
      .saludables__container-productos .productosSaludables-3img .nueces img {
        width: 200px;
        height: 260px; }
        .saludables__container-productos .productosSaludables-3img .nueces img:hover {
          scale: 1.2; }
      .saludables__container-productos .productosSaludables-3img .nueces a {
        display: flex;
        justify-content: center; }
  .saludables__container-productos .productosSaludables-2img {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 32px 0 64px 0; }
    .saludables__container-productos .productosSaludables-2img .mani {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .saludables__container-productos .productosSaludables-2img .mani img {
        width: 300px;
        height: 260px; }
        .saludables__container-productos .productosSaludables-2img .mani img:hover {
          scale: 1.2; }
      .saludables__container-productos .productosSaludables-2img .mani a {
        display: flex;
        justify-content: center; }
    .saludables__container-productos .productosSaludables-2img .castanas {
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .saludables__container-productos .productosSaludables-2img .castanas img:hover {
        scale: 1.2; }
      .saludables__container-productos .productosSaludables-2img .castanas a {
        display: flex;
        justify-content: center; }

.combos__saludables {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 48px;
  align-items: center; }
  .combos__saludables h2 {
    color: white; }
  .combos__saludables button {
    font-size: 20px;
    padding: 15px;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: var(--radio-border); }
    .combos__saludables button:hover {
      opacity: .8; }

.combos__container {
  padding-top: var(--padding-top);
  /*Para que la info no quede debajo de la navBar */
  background-color: white;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase; }
  .combos__container .combos__titulo {
    padding: 32px;
    text-align: center;
    font-size: 20px; }
  .combos__container .combos__hero {
    display: flex;
    padding: 32px;
    justify-content: space-around; }
    .combos__container .combos__hero .combos__producto {
      width: 300px; }
      .combos__container .combos__hero .combos__producto h2 {
        padding: 8px;
        color: red; }
      .combos__container .combos__hero .combos__producto p {
        padding: 3.2px 16px;
        opacity: 0.6;
        max-width: 90%; }
      .combos__container .combos__hero .combos__producto h3 {
        color: red;
        text-align: right;
        font-size: 32px;
        padding-top: 1.6px;
        padding-left: 32px; }
      .combos__container .combos__hero .combos__producto a {
        width: 300px;
        height: 300px; }
        .combos__container .combos__hero .combos__producto a img {
          width: 300px;
          height: 300px;
          border: 1px black solid; }
          .combos__container .combos__hero .combos__producto a img:hover {
            scale: 1.1; }
      .combos__container .combos__hero .combos__producto button {
        font-size: 21px;
        background-color: orangered;
        padding: 15px;
        cursor: pointer;
        border-radius: var(--radio-border);
        border: 0px; }
        .combos__container .combos__hero .combos__producto button:hover {
          opacity: .7; }

.contacto__container {
  background-image: url("../imagenes/contacto/fondo.jpg");
  padding: 128px 0;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-transform: uppercase; }
  .contacto__container .contacto__columnaIzquierda {
    grid-column: 1;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px; }
  .contacto__container .contacto__central {
    display: flex;
    justify-content: center;
    text-align: center;
    grid-column: 2;
    color: white; }
    .contacto__container .contacto__central .contacto__columnaCentral {
      display: flex;
      width: 50%;
      flex-direction: column;
      box-shadow: 7px 13px 37px black;
      background-color: #24303c; }
      .contacto__container .contacto__central .contacto__columnaCentral h1 {
        font-size: 25px;
        padding-top: 15px; }
      .contacto__container .contacto__central .contacto__columnaCentral label {
        padding-top: 18px;
        font-size: 20px; }
      .contacto__container .contacto__central .contacto__columnaCentral input {
        font-size: 17px;
        margin: 20px;
        padding: 8px; }
      .contacto__container .contacto__central .contacto__columnaCentral .botonFormulario {
        cursor: pointer; }
        .contacto__container .contacto__central .contacto__columnaCentral .botonFormulario:hover {
          opacity: .5; }
      .contacto__container .contacto__central .contacto__columnaCentral .mensaje {
        height: 100px; }
  .contacto__container .contacto__columnaDerecha {
    grid-column: 3;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    font-size: 25px;
    padding: 32px; }
    .contacto__container .contacto__columnaDerecha h2 {
      font-size: 20px;
      font-weight: bold; }

.almendras__container {
  padding-top: var(--padding-top);
  /*Para que la info no quede debajo de la navBar */
  display: flex;
  flex-direction: column;
  text-transform: uppercase; }
  .almendras__container .almendras__barraSuperior {
    padding: 16px 0 0 16px;
    word-spacing: 15px; }
    .almendras__container .almendras__barraSuperior a {
      text-decoration: none;
      color: black; }
      .almendras__container .almendras__barraSuperior a:hover {
        color: blue; }
  .almendras__container .almendras__hero {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 32px; }
    .almendras__container .almendras__hero .almendras__img {
      grid-column: 1; }
      .almendras__container .almendras__hero .almendras__img img {
        width: 90%;
        padding: 32px; }
  .almendras__container .almendras__info {
    grid-column: 2;
    letter-spacing: 2px;
    padding: 32px; }
    .almendras__container .almendras__info h1 {
      font-size: 30px;
      padding-bottom: 10px;
      width: 80%; }
    .almendras__container .almendras__info h2 {
      font-size: 20px;
      padding-bottom: 10px; }
    .almendras__container .almendras__info i {
      cursor: pointer; }
    .almendras__container .almendras__info h3 {
      font-size: 15px;
      padding: 10px 0px;
      text-decoration: underline; }
    .almendras__container .almendras__info ul {
      list-style: circle;
      line-height: 20px;
      padding-left: 20px;
      opacity: 0.6;
      padding-bottom: 25px; }
    .almendras__container .almendras__info .almendras__precio {
      display: flex;
      justify-content: space-between;
      color: orangered;
      font-size: 30px;
      padding-top: 25px; }
      .almendras__container .almendras__info .almendras__precio p {
        padding-right: 150px; }
    .almendras__container .almendras__info .almendras__boton {
      display: flex;
      justify-content: center;
      padding-top: 20px; }
      .almendras__container .almendras__info .almendras__boton button {
        font-size: 20px;
        width: 100%;
        padding: 16px;
        background-color: orangered;
        border-radius: var(--radio-border);
        border: 0px;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif; }
        .almendras__container .almendras__info .almendras__boton button:hover {
          opacity: 0.8; }

.footer-container {
  background-color: #d9d9d9;
  text-align: center;
  text-transform: uppercase; }
  .footer-container h2 {
    font-size: 35px;
    padding-top: 20px; }
  .footer-container .footer-redes {
    display: flex;
    justify-content: space-between;
    padding: 16px 240px;
    font-size: 32px; }
    .footer-container .footer-redes i {
      color: black; }
  .footer-container .footer-contacto {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 24px 160px; }
    .footer-container .footer-contacto a {
      color: white;
      text-decoration: none;
      font-size: 30px; }
