
.almendrasContainer {
    padding-top: var(--padding-top);
    /*Para que la info no quede debajo de la navBar */
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    background-color: $blanco;

    .almendrasContainer__barraSuperior {
        padding: 16px 0 0 16px;
        word-spacing: 15px;

        a {
            text-decoration: none;
            color: $negro;

            &:hover {
                color: $azul;
            }
        }
    }

    .almendrasContainer__hero {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 32px;

        .almendrasContainer__img {
            grid-column: 1;

            img {
                width: 90%;
                padding: 32px;
            }
        }
    }

    .almendrasContainer__info {
        grid-column: 2;
        letter-spacing: 2px;
        padding: 32px;

        h2 {
            font-size: 30px;
            padding-bottom: 10px;
            width: 80%;
        }

        h3 {
            font-size: 20px;
            padding-bottom: 10px;
        }

        i {
            cursor: pointer;
        }
        .almendrasContainer__caracteristicas{
            display: block;
            h3 {
                font-size: 15px;
                padding: 10px 0px;
                text-decoration: underline;
            }
        }
       


        ul {
            list-style: circle;
            line-height: 20px;
            padding-left: 20px;
            opacity: 0.6;
            padding-bottom: 25px;
        }

        .almendrasContainer__precio {
            display: flex;
            justify-content: space-between;
            color: $anaranjado;
            font-size: 30px;
            padding-top: 25px;

            p {
                padding-right: 150px;
            }
        }

        .almendrasContainer__boton {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            button {
                font-size: 20px;
                width: 100%;
                padding: 16px;
                background-color: $anaranjado;
                border-radius: var(--radio-border);
                border: 0px;
                cursor: pointer;
                text-transform: uppercase;
                font-family: 'Barlow Condensed', sans-serif;
                border-color: $anaranjado;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}









/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .desktopCabecera,
    .almendrasContainer__barraSuperior,
    .almendrasContainer__precio h4,
    .almendrasContainer__boton,
    .almendrasContainer__info,.mobileCabecera__menuDesplegable {
        display: none;
    }

    .almendrasContainer {
        padding: 0;
        padding-bottom: 50px;

        .almendrasContainer__hero {
            display: flex;
            padding: 2rem 0 0;
            flex-direction: column;
            .mobileAlmendras__info {
                display: block;
                padding: 10px 20px;
    
                h1 {
                    font-size: 24px;
                }
    
                h2 {
                    font-size: 20px;
                    color: gray;
                    padding-bottom: 10px;
                }
    
                i {
                    font-size: 20px;
                }
                
                }
                .almendrasContainer__img {
                    img {
                        padding: 20px 0;
                        /* width: 100vw; */
                        width: 100%;
                    }
                }
                .mobileAlmendras__precio {
                    display: block;
                    padding: 10px 20px;
            
                    p {
                        font-size: 40px;
                        color: $anaranjado;
                    }
                }
    
                .almendrasContainer__caracteristicas {
                    display: block;
                    padding: 50px 20px 0px 20px;
    
                    h3 {
                        font-size: 25px;
                        padding: 10px 0px;
                        text-decoration: underline;
                    }
    
                    ul {
                        list-style: circle;
                        line-height: 25px;
                        padding-left: 20px;
                        opacity: 0.6;
                        padding-bottom: 25px;
                        font-size: 18px;
                    }
            }
        }
            
        
    
        
    }
    .almendras__boton-mobile {
        position: sticky;
        top: -100px;
        bottom: 1px;
        display: flex;
        justify-content: center;
        padding: 20px 0;

        button {
            font-size: 25px;
            padding: 8px;
            background-color: $anaranjado;
            border-radius: var(--radio-border);
            cursor: pointer;
            width: 70%;
            border: none;
            color: $negro;
            text-transform: uppercase;
            font-family: 'Barlow Condensed', sans-serif;
        }
    }


    .almendrasContainer__info hr {
        display: none;
    }


}