.combos__container {
    padding-top: var(--padding-top);
    /*Para que la info no quede debajo de la navBar */
    background-color: $blanco;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    .combos__titulo {
        padding: 32px;
        text-align: center;
        font-size: 20px;
    }
    .combos__hero {
        display: flex;
        padding: 32px;
        justify-content: space-around;
        .combos__producto {
            width: 300px;
            h2 {
                padding: 8px;
                color: $rojo;
            }
            p {
                padding: 3.2px 16px;
                opacity: 0.6;
                max-width: 90%;
            }
            h3 {
                color: $rojo;
                text-align: right;
                font-size: 32px;
                padding-top: 1.6px;
                padding-left: 32px;
            }
            a {
                width: 300px;
                height: 300px;
                img {
                    width: 300px;
                    height: 300px;
                    border: 1px black solid;
                    &:hover {
                        scale: 1.1;
                    }
                }
            }
            button {
                font-size: 21px;
                background-color: $anaranjado;
                padding: 15px;
                cursor: pointer;
                border-radius: var(--radio-border);
                border: 0px;
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}


