.contactoContainer {
    background-image: url("../imagenes/contacto/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 128px 30px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    text-transform: uppercase;

    .contactoContainer__columnaIzquierda {
        grid-column: 1;
        padding: 32px;
        background-color: $negro-transparencia-60;
        text-align: center;
        display: flex;
        align-items: center;
        color: $blanco;
        font-size: 25px;
    }

    .contactoContainer__central {
        display: flex;
        justify-content: center;
        text-align: center;
        grid-column: 2;
        color: $blanco;

        .contactoContainer__columnaCentral {
            display: flex;
            width: 50%;
            flex-direction: column;
            box-shadow: 7px 13px 37px $negro;
            background-color: $azul-columna-contactos;

            h1 {
                font-size: 25px;
                padding-top: 15px;
            }

            label {
                padding-top: 18px;
                font-size: 20px;

            }

            input {
                font-size: 17px;
                margin: 20px;
                padding: 8px;
                font-family: 'Barlow Condensed', sans-serif;
                text-transform: uppercase;
            }

            .botonFormulario {
                cursor: pointer;

                &:hover {
                    opacity: .5;
                }
            }

            .mensaje {
                height: 100px;
            }
        }
    }

    .contactoContainer__columnaDerecha {
        grid-column: 3;
        background-color: $negro-transparencia-60;
        text-align: center;
        display: flex;
        justify-content: space-around;
        color: $blanco;
        flex-direction: column;
        font-size: 25px;
        padding: 32px;

        h2 {
            font-size: 20px;
            font-weight: bold;
        }
    }
}


/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .contactoContainer {
        background-image: url("../imagenes/contacto/fondo-mobile.jpg");
        display: flex;
        flex-direction: column;
        padding: 30px;

        .contactoContainer__columnaIzquierda {
            text-align: left;
            color: white;
            font-size: 25px;
            padding: 50px;
        }

        .contactoContainer__central {
            padding: 32px 0;
            font-family: 'Barlow Condensed', sans-serif;

            .contactoContainer__columnaCentral {
                width: 100%;
                padding: 50px;

                h1 {
                    font-size: 30px;
                    padding-top: 15px;
                }

                label {
                    padding-top: 18px;
                    font-size: 25px;
                }

                input {
                    font-size: 15px;
                    margin: 10px;
                    padding: 8px;
                    font-family: 'Barlow Condensed', sans-serif;
                    text-transform: capitalize;
                }
            }
        }

        .contactoContainer__columnaDerecha {
            font-size: 25px;
            line-height: 35px;
            text-align: left;

            h2 {
                font-size: 20px;
                font-size: 30px;
            }

            h3 {
                padding: 16px 0;
                font-size: 30px;
            }
        }
    }






}