.footerContainer {
    background-color: #FFEEE2;
    text-align: center;
    text-transform: uppercase;

    h2 {
        font-size: 35px;
        padding-top: 50px;
    }

    .footerContainer__redes {
        @extend .flex-spaceBetween;
        padding: 50px 240px;
        font-size: 32px;


        i {
            color: $negro;
        }
    }

    .footerContainer__contacto {
        background-color: $negro;
        @extend .flex-spaceBetween;
        align-items: center;
        padding: 24px 160px;

        height: 96px;

        a {
            height: fit-content;
            @include propiedades-menuFooter ($blanco, none, 25px);

            &:hover {
                background-color: $rojo;
                padding: 10px;


            }

        }

        .desktopfooter__opcion-marcada {
            background-color: $rojo;
            padding: 10px;
        }
    }
}


/* VERSION MOBILE -------  */
@media (max-width: 576px) {

    .footerContainer {
        .h2 {
            font-size: 30px;
            padding-top: 20px;
        }

        .footerContainer__redes {
            display: flex;
            justify-content: space-around;
            padding: 20px 16px 50px;
            font-size: 30px;
        }

        .footerContainer__contacto {
            display: flex;
            flex-direction: column;
            padding: 16px;
            height: 100%;

            a {
                color: white;
                text-decoration: none;
                font-size: 30px;
                line-height: 45px;
            }
        }
    }




}