:root {
    --paddingLateral: 8em;
    --padding-top: 100px;
    /*Para que la info no quede debajo de la nav bar */
    --altura-menu-mobile: height: 80px;
    // --color-black: black;
    // --color-orangered: orangered;
    /*BOTONES*/
    --radio-border: 15px;
}