.heroSaludables {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), transparent),
        url("../imagenes/saludables/frutosSecos.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    height: 45rem;

    .heroSaludables__texto {

        // width: 70%;
        line-height: 97px;
        // display: flex;
        // align-items: center;

        // height: 51rem;
        color: $blanco;
        text-align: center;
        position: absolute;
        padding: 0;
        top: 40%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;


        p {
            font-size: 60px;
            // width: 80%;
            width: 65%;
        }
    }
}

.productosSaludables {
    background-color: gray;
    padding: 2em;
    text-transform: uppercase;

    h1 {
        text-align: center;
        font-size: 40px;
        color: $negro;
    }

    a {
        text-decoration: none;
        color: $negro;
        font-size: 20px;
        padding-top: 16px;
    }

    .productosSaludables__3img {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 64px 0;

        .almendras {
            grid-column: 1;
            display: flex;
            flex-direction: column;

            img {
                width: 200px;
                height: 260px;

                &:hover {
                    scale: 1.2;

                }
            }

            a {
                display: flex;
                justify-content: center;
            }
        }

        .pecanas {
            grid-column: 2;

            img {
                width: 300px;
                height: 260px;

                &:hover {
                    scale: 1.2;
                }
            }

            a {
                display: flex;
                justify-content: center;
            }
        }

        .nueces {
            grid-column: 3;

            img {
                width: 200px;
                height: 260px;

                &:hover {
                    scale: 1.2;
                }
            }

            a {
                display: flex;
                justify-content: center;
            }
        }

    }

    .productosSaludables__2img {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 32px 0 64px 0;

        .mani {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 300px;
                height: 260px;

                &:hover {
                    scale: 1.2;
                }
            }

            a {
                display: flex;
                justify-content: center;
            }
        }

        .castanas {
            grid-column: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                &:hover {
                    scale: 1.2;
                }
            }

            a {
                display: flex;
                justify-content: center;
            }
        }
    }
}



.combos__saludables {
    background-color: $negro;
    display: flex;
    justify-content: space-evenly;
    padding: 48px;
    align-items: center;

    h2 {
        color: $blanco;
    }

    button {
        font-size: 20px;
        padding: 15px;
        background-color: $anaranjado;
        color: $blanco;
        cursor: pointer;
        border: 0px;
        border-radius: var(--radio-border);

        &:hover {
            opacity: .8;
        }
    }
}

/* VERSION MOBILE --------  */

@media (max-width: 576px) {

    .desktopCabecera,
    .productosSaludables {
        display: none;
    }

    .heroSaludables {
        background:
            linear-gradient(rgba(0, 0, 0, 0.6), transparent),
            url("../imagenes/saludables/frutosSecos.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /* height: 80vh; */
        height: 32rem;

        .heroSaludables__texto {
            // text-align: center;
            // font-size: 32px;
            // height: 40rem;
            // line-height: normal;
            position: relative;
            padding: 0;
            top: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            p {
                line-height: normal;
                font-size: 20px;
                width: 80%;
            }
        }
    }



    .favoritos-carrusel-mobile {


        .contenedor-saludables {
            background-color: gray;
            height: 32rem;
            // display: flex;
            align-items: center;
            // justify-content: center;
            flex-direction: column;
            padding-top: 40px;
            padding-bottom: 40px;

            .carousel-saludables-titulo {
                position: relative;
                bottom: 10px;
                height: fit-content;

                h2 {
                    font-size: 2.5rem;
                    color: black;
                    text-align: center;
                }
            }

            .carousel-control-prev,
            .carousel-control-next {
                scale: 1.5;
                font-weight: 1000;
            }


            .carousel-saludables {
                margin: auto;
                padding-top: 50px;

                .carousel-item {
                    position: absolute;
                    text-align: center;

                    .producto-saludables-nombre {
                        color: black;
                        font-size: 1.5rem;
                        padding-top: 10px;
                    }

                    .img-carousel {
                        width: 140px;
                        height: 180px;
                    }
                }

            }
        }



    }



    .combos__saludables {
        font-size: 12.8px;
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            padding-bottom: 16px;
        }

        button {
            font-size: 20px;
            padding: 15px;
            border-color: $anaranjado;
        }
    }

























}