$azul: blue;
$negro: black;
$blanco: white;
$negro-transparencia-60: rgba(0, 0, 0, 0.6);
$azul-columna-contactos: #24303c;
$gris-claro: #d9d9d9;
$transparente: transparent;
$anaranjado: orangered;
$rojo: red;