// EXTEND //

.flex-spaceBetween {
    display: flex;
    justify-content: space-between;
}

.ubicacion-textos-grandes {
    position: absolute;
    padding: 0 100px;
    top: 40%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


// MOXIN //

@mixin propiedades-cabecera ($color-fondo, $altura, $ancho) {
    background-color: $color-fondo;
    height: $altura;
    width: $ancho;
}

@mixin propiedades-menuFooter ($color-texto, $subrayado-texto, $tamano-texto) {
    color: $color-texto;
    text-decoration: $subrayado-texto;
    font-size: $tamano-texto;

}