* {
    padding: 0;
    margin: 0;
    /* font-family: 'Barlow Condensed', sans-serif; */
    /* text-transform: uppercase; */
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    // border: 1px solid blue;
}